<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" style="color: white;">Gestion Covoiturage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/trajet">Trajet</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/reservation">Réservation</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/addreservation">Ajouer Reservation</a></li>
                <li class="nav-item">
                  <a routerLink="/addtrajet" routerLinkActive="active" class="nav-link ">Ajouter Trajet</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
