<app-header></app-header>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://carito.com/storage/Vendre_voiture.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-9 col-lg-6 col-xl-5">
          <p class="lead fw-normal text-muted mb-4">
            Un petit geste pour vous, et un pas vers moins d’émissions de CO2.
            Saviez-vous que le taux d’occupation des voitures 
            augmente de plus en plus sur les petits trajets de tous les jours ? 
            Que les transports sont la première source de gaz à effet de serre ? 
            En covoiturant, vous participez à la réduction des véhicules sur les routes et des émissions de CO2*
          </p>
        </div>
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://carito.com/storage/Vendre_voiture.webp"
            class="img-fluid" alt="Sample image">
          </div>
        
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://carito.com/storage/Vendre_voiture.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://carito.com/storage/Vendre_voiture.webp"
            class="img-fluid" alt="Sample image">
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2023. Khadim FALL.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/1200px-Facebook_f_logo_%282021%29.svg.png" width="50" height="50">
        </a>
        <a href="#!" class="text-white me-4">
          <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" width="50" height="50">
        </a>
        <a href="https://twitter.com/khadimfall35725?t=UVhoR34EKds-FLg275t_tg&s=09" class="text-white me-4">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Logo_of_Twitter.svg/1200px-Logo_of_Twitter.svg.png" width="50" height="50">
        </a>
        <a href="https://github.com/khadim-fall?tab=repositories" class="text-white me-4">
          <img src="https://freepngimg.com/save/12282-github-png-image/1373x1373" width="50" height="50">
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
